@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden !important ;
}
html,
body {
  overflow-x: hidden !important ;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-weight: bold;
}
#homepage {
  background-image: url("/assets/home.webp");
  object-fit: cover;
  position: relative;
  background-position-x: 70%;
  background-position-y: 100%;
  background-size: 100% 100vh !important;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  #homepage {
    background-image: url("/assets/home mobile.webp");
  }
  .homeText {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    padding: 10px;
  }
}
#aboutUs{
  background-image: url("/assets/black-texture-projects.webp");
}
